@{
    Layout = "~/views/shared/_sitelayout.cshtml";
    Page.Title = "播放视频";

    var nianji = "";
    var xueke = "";
    var mingcheng = "";
    var VideoName = "";
    if (IsPost)
    {
        nianji = Request.Form["weikeNianji"];
        xueke = Request.Form["weikeXueke"];
        mingcheng = Request.Form["weikeMingcheng"];


        VideoName = nianji + "." + xueke + "." + mingcheng + ".mp4";
    }


}

@section scripts{
    <script src="~/Scripts/mediaelement/mediaelement-and-player.min.js"></script>
    <link rel="stylesheet" href="~/Scripts/mediaelement/mediaelementplayer.css" />
    @*<link rel="stylesheet" href="~/Scripts/mediaelement/mejs-skins.css" />*@
    <script>
        $(document).ready(function ()  {
                $('video').mediaelementplayer({
                        alwaysShowControls:  true,
                        videoVolume:  'horizontal',
                        features:  ['playpause', 'progress', 'volume', 'fullscreen']
                });
        });
    </script>
}

<h2>视频信息</h2>
@*<p> @nianji @xueke @mingcheng</p>*@
<p>年级： @ShowChinese.ChineseGrade(nianji)</p>
<p>学科： @ShowChinese.ChineseSubject(xueke) </p>
<p>名称： @ShowChinese.ChineseVideoFileName(mingcheng)</p>
<p>主讲： @ShowChinese.ChineseTeacher(mingcheng)</p>
<div>
    <video src="~/UploadedVideos/@VideoName" width="1024" height="576"></video>
</div>
